<div class="container">
<h1 class="mt-3">Dashboard</h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="socks-tab" data-toggle="tab" href="#socks" role="tab" aria-controls="socks" aria-selected="true">My Socks</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="false">Sock Bookings</a>
    </li>
  </ul>
</div>
