<div class="row">
  <% @socks.each do |sock| %>
    <div class="co-12 colsm-6 col-md-4 mb-3">
      <div class="card-body">
        <%= link_to sock_path(sock), class:'text-decoration-none' do %>
        <h5 class="card-title"><%= sock.name %></h5>
        <% end %>
      </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= sock.price %></li>
      </ul>
      <div class="card-body">
      </div>
    </div>
  <% end %>
</div>

