
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <%= cl_image_tag @sock.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-body">
    <h5 class="card-title"><%= @sock.name %></h5>
    <p class="card-text"><%= @sock.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @sock.price %></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>







