<<<<<<< HEAD
<div class="footer bg-light">
    <div class="footer_contents">
     <p class="year"> © <%= Date.current.year %> SocksProject</p>
     <p>made By Alex and </p>
    </div>
=======
<div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <p>© All Rights Reserved by <a href="#">My Socks<i class="fa fa-love"></i></a></p>
          </div>
      </div>
  </div>
>>>>>>> dc2b647ca8c0dffab67003e18f08d1b07f790041
</div>






