
<% if user_signed_in? %>
 <p> <%= current_user.first_name %> </p>
<% end %>


<div class="home-banner">
  <h1>
  <span id="banner-typed-text"></span>
  </h1>
</br>
  <div class="button" >
    <%= link_to 'list your socks', @socks,:class => "btn btn-primary btn-lg" %>
    <%= link_to 'log-in/sign-in',@socks , :class => "btn btn-primary btn-lg" %>
  </div>
</div>
<%= render "shared/footer" %>







