
<% if user_signed_in? %>
 <p> <%= current_user.first_name %> </p>
<% end %>

<div class="home-banner">
  <h1>Find the sock your missing</h1>
</div>
<br>
<div class="button" >

    <%= link_to 'find socks',  @socks, :class => "btn btn-primary btn-lg" %>
    <%= link_to 'list your socks', @socks,:class => "btn btn-primary btn-lg" %>
    <%= link_to 'log-in/sign-int',@socks , :class => "btn btn-primary btn-lg" %>

  </div>
<br>
<h2>Start looking for socks</h2>
<hr>
<input type="text" class="form-control" value="02-16-2012">





