
<% if user_signed_in? %>
  <div class="home-banner">
    <h1> <strong> Welcome <%= current_user.first_name %> </strong> </h1>
    <h1>
    <span id="banner-typed-text"></span>
    </h1>
  </br>
    <div class="button" >
      <%= link_to 'list your socks', new_sock_path,:class => "btn btn-primary btn-lg" %>
    </div>
  </div>
<% else %>
  <div class="home-banner">
    <h1> <strong> Welcome to the SOCK renting site </strong>   </h1>
    <h1>
    <span id="banner-typed-text"></span>
    </h1>
  </br>
    <div class="button" >
      <%= link_to 'log-in/sign-up', new_user_session_path , :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>





