.home-banner {
  background-image: url('https://www.melbournecentral.com.au/Upload/MelbourneCentral/Media/Store-Hero/Socks-Club-Banner.jpg?ext=.jpg');
  background-size: cover;
<<<<<<< HEAD
  background-position: center;
  height: 200px;
=======
  height: 400px;
>>>>>>> 1e36ecb679d34032263975983acb5926dc4fb820
  width: cover;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}


.button {
  display: flex;
  justify-content: center;
}

.btn {
 margin: 4px 4px;
 width: 300px;
}

