.home-banner {
  background-image: url('https://www.melbournecentral.com.au/Upload/MelbourneCentral/Media/Store-Hero/Socks-Club-Banner.jpg?ext=.jpg');
  background-size: cover;
  height: 900px;
  width: cover;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}


.button {
  display: flex;
  justify-content: center;
}

.btn {
 margin: 4px 4px;
 width: 300px;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 10px;
}


