.image {
  background-repeat: no-repeat;

}
.card-reviews {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 4px 4px;
  padding: 4px 4px 4px 4px;

}
.sock-details {
  display: inline-block;
}
.link {
  display: inline;
  white-space: nowrap;
}
.card-body-show {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 2px 2px;
}
